

.h1{
    color: black;
}

.textoprodutos{
    text-align: center;
}

.f{
    margin-top: 400px;
}

img{
    padding: 02px;
    margin: 20px 20px 20px;
    transition: all 0.3s;
    border: 3px solid purple;
    
    
}


.img5{
    height: 440px; 
    
}

.img6{
    width: 800px;
    height: 440px; 
}



.container{
    
    width: 100%;
    column-gap: 1em;
    overflow: auto;
    display: flex;
    margin: 20px 20px 20px;
    height: 500px;
  
}

img:hover{
    transform: scale(1.1);
    
   
}
.btn{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 237, 6);
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 2em;
    width: 300px;
    margin-left: 600px;
    margin-top: 100px;
}

.btn:hover{
    background-color: rgb(9, 185, 9);
}


@media screen and (max-width: 768px){
    img{
        width: 400px;

    }

    .btn{
        margin-left: 10%;
        margin-top: 100px;
    }

    .btn:hover{
        background-color: rgb(9, 185, 9);
    }
    



}



